*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
$max-width:1200px;
$primary-color:#5944bc;
$light-color:#f1f1f1;
$dark-color:#2b2b2b;

@mixin flexCenter{
    display:flex;
    justify-content: center;
    align-items: center;
}