@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Firefox < 16 */

/* Safari, Chrome and Opera > 12.1 */

/* Internet Explorer */

@keyframes slide {
  from {
    transform: translatey(-100%);
  }
  to {
    transform: translatey(0);
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  position: relative;
  background: #5944bc;
  height: 100vh;
}

.header .hero {
  text-transform: capitalize;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #f1f1f1;
}

.header .hero .hero-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .header .hero .hero-wrapper {
    margin-top: 200px;
  }
}

.header .hero img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.header .hero .btn {
  text-transform: capitalize;
  border-radius: 2rem;
}

.header nav {
  position: fixed;
  z-index: 1;
  width: 100%;
  background-color: #5944bc;
}

.header nav .nav-bar {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  position: relative;
  justify-content: space-between;
  color: #f1f1f1;
}

.header nav .nav-bar .bar-wrapper {
  display: none;
  position: absolute;
  top: 10px;
  right: 10px;
}

.header nav .nav-bar .bar-wrapper:hover {
  cursor: pointer;
}

.header nav .nav-bar .logo-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.header nav .nav-bar .logo-wrapper img {
  height: 50px;
}

.header nav .nav-bar ul {
  margin-left: auto;
  text-transform: capitalize;
  margin: 0;
}

.header nav .nav-bar ul li {
  margin-left: 2rem;
  list-style-type: none;
  position: relative;
}

.header nav .nav-bar ul li:hover {
  transform: scale(1.1);
  transition: all 0.1s ease-in-out;
}

.header nav .nav-bar ul li:hover::after {
  position: absolute;
  content: '';
  bottom: 0;
  left: 0;
  height: 1px;
  width: 100%;
  background: #f1f1f1;
}

@media screen and (max-width: 768px) {
  .header nav .nav-bar ul li:hover::after {
    height: 0;
  }
}

.header nav .nav-bar ul li a {
  color: #f1f1f1;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .header nav .nav-bar ul li a {
    color: black;
  }
  .header nav .nav-bar ul li a:hover {
    color: #5944bc;
  }
}

@media screen and (max-width: 420px) {
  .lead {
    font-size: 1rem;
  }
}

@media screen and (max-width: 768px) {
  .nav-bar {
    display: block !important;
  }
  .nav-ul {
    display: none !important;
  }
  .nav-ul a {
    font-size: 1.5rem;
  }
  .nav-ul button {
    font-size: 1.5rem;
    color: black;
  }
  .bar-wrapper {
    display: flex !important;
  }
  .logo-wrapper {
    display: inline-block !important;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cards .cards-title, .cards .start-info .start-info-container .card-title {
  text-align: center;
  text-transform: uppercase;
  color: #5944bc;
  font-weight: 600;
  font-size: 1.4rem;
  letter-spacing: 0.05rem;
  margin-bottom: 0.5rem;
}

.cards .cards-subtitle {
  text-align: center;
  text-transform: capitalize;
  color: #2b2b2b;
  font-weight: 500;
  font-size: 1.6rem;
}

.cards .start-info {
  padding: 0;
  margin-top: 1rem;
}

.cards .start-info .start-info-container .card-title {
  margin-top: 1rem;
  font-size: 1.2rem;
  font-weight: 500;
  color: #2b2b2b;
}

.cards .start-info .start-info-container .card-desc {
  line-height: 1.9rem;
  text-align: center;
}

.cards .start-info .start-info-container i {
  color: #5944bc;
}

.cards .start-info h4 {
  text-align: center;
}

.cards .start-info .fa-center {
  display: block;
  text-align: center;
}

.cards .start-info .start-info-container {
  text-align: justify;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.team {
  background: url("../img/team/team-background.jpg") no-repeat fixed;
}

.team .opacity-color {
  background-color: #39466f87;
}

.team .opacity-color h1 {
  color: whitesmoke;
  font-weight: 900;
}

.team .team-container {
  text-align: center;
  padding: 10px;
  background-color: whitesmoke;
}

.team .team-container h5 {
  margin-top: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.projects {
  color: #4a4949;
  background-color: #eef0ed;
}

.projects h2 {
  font-size: 35px;
}

.projects h1 {
  position: relative;
}

.projects h1::after {
  position: absolute;
  content: '';
  height: 3px;
  width: 20%;
  margin: 0 auto;
  background-color: #5944bc;
  bottom: 30px;
  left: 40%;
}

.projects .projects-img-wrapper {
  padding: 0;
}

.projects .projects-img-wrapper .projects-img {
  height: 300px;
  width: 100%;
  object-fit: cover;
}

.projects .projects-content {
  display: flex;
  align-items: center;
  padding: 30px;
  background-color: white;
}

.projects .projects-content a {
  font-weight: 500;
  text-transform: uppercase;
  background-color: #5944bc;
  border-radius: 1rem;
  color: white;
  padding: 15px 20px;
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.plan .plan-container .btn-primary {
  color: #fff;
  background-color: #5944bc;
  border-color: #5944bc;
}

.plan .plan-container a {
  font-weight: 500;
  text-transform: uppercase;
  background-color: #5944bc;
  color: white;
  border-radius: 10px;
  padding: 15px 20px 15px 20px;
  text-decoration: none;
}

.plan .plan-container a:hover {
  text-decoration: none;
}

.plan .plan-container .plan-content {
  text-align: center;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.14);
  padding: 30px 10px 30px 10px;
  background-color: #f5f5f5;
  border-radius: 0.5rem;
}

.plan .plan-container .plan-content h4 {
  letter-spacing: 2px;
  color: #5944bc;
}

.plan .plan-container .plan-content ul {
  padding: 0px;
}

.plan .plan-container .plan-content ul li {
  margin-top: 0.5rem;
  list-style: none;
}

.plan .plan-container .plan-content ul li::before {
  content: '\2611';
  color: #5944bc;
  margin-right: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.contact {
  color: #ffff;
  background-color: #263246;
}

.contact input, .contact textarea {
  padding: 0.5rem;
}

.contact input:last-child {
  font-size: 1.2rem;
}

.contact .contact-message {
  resize: none;
  height: 200px;
}

.contact h3 {
  position: relative;
  padding: 10px 0;
}

.contact h3::after {
  position: absolute;
  content: '';
  height: 3px;
  width: 100px;
  margin: 0 auto;
  background-color: #274c8c;
  bottom: 30px;
  left: 0;
  bottom: 0;
}

.contact ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.contact ul li {
  margin: 20px 0 10px 0;
  color: #f1f1f1;
}

.contact ul li i {
  margin-right: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.section-info {
  padding: 3rem 0;
  background-color: #5944bc;
  margin-top: 100px;
}

.section-info i {
  color: white;
  display: block;
  text-align: center;
  margin-bottom: 0.5rem;
}

.section-info .info-title, .section-info .info-subtitle {
  font-weight: 600;
  font-size: 1.6rem;
  color: #f1f1f1;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  letter-spacing: 0.05rem;
}

.section-info .info-subtitle {
  font-weight: 400;
  font-size: 1.1rem;
}

html {
  scroll-behavior: smooth;
}

body {
  color: #2b2b2b;
  font-family: 'Poppins', sans-serif;
}

body .about-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

body .p-100 {
  padding-top: 100px;
}

body .show {
  height: 100vh;
  display: block !important;
  text-align: center;
  color: #18191d;
  padding: 5rem 1rem;
  background: #fff;
}

body .show li {
  padding: 20px;
}

body .mb-100 {
  padding-bottom: 100px;
}

body .lead-2 {
  line-height: 1.5;
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 0.05rem;
}

body .img-center {
  display: block;
  margin: 0 auto;
}

body .section-margin {
  margin: 200px 0 200px 0;
}

body .mt-100 {
  margin-top: 100px;
}

body .lets-talk {
  background-color: #18191d;
  color: #e2e2e2;
  text-align: center;
}

body .lets-talk a {
  font-weight: 500;
  text-transform: uppercase;
  background-color: #ececeb;
  color: black;
  border-radius: 1rem;
  padding: 15px 20px 15px 20px;
  text-decoration: none;
}

body .lets-talk a:hover {
  text-decoration: none;
  background: #5944bc;
  color: #f1f1f1;
}

body footer {
  height: 50px;
  background-color: #1d2738;
}

body footer p {
  margin: 0;
  font-weight: 200;
  color: #ccd0da;
}
/*# sourceMappingURL=style.css.map */